/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #222;
    color: #f7f3f7;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: rgb(249, 248, 248);
    text-decoration: none;
}

/* Sections */
.section {
    min-height: 100vh;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* vertical center */
    align-items: center;       /* horizontal center */
    text-align: center; 
}

#home {
    background: #a2e2a1;
}

#about {
    background: #a2e2a1;
}

#skills {
    background: #a2e2a1;
}

#contact {
    background: #a2e2a1;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
